{
  'extends': ['airbnb', 'plugin:jasmine/recommended'],
  'parser': 'babel-eslint',
  'plugins': ['jasmine'],
  'ecmaFeatures': {
    'classes': true,
  },
  'env': {
    'jasmine': true,
  },
  rules: {
    'react/jsx-filename-extension': ['error', { extensions: ['.js', '.jsx'] }],
    'no-use-before-define': ['error', { 'variables': false }],
    'global-require': 'off',
    'function-paren-newline': 'off',
    'arrow-body-style': ['off', 'as-needed'],
  },
  globals: {
    'fetch': true
  }
}
